In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("~/Desktop/questselections18.csv")

In [3]:
dummies = pd.get_dummies(df["school"])
df = pd.concat([df, dummies], axis=1)

In [4]:
df.head()

     id  credits   gpa school  score  interview  CMNS  Clark  Smith
0  1757       15  3.55   CMNS    3.5          1     1      0      0
1  1760       15  4.00   CMNS    4.0          1     1      0      0
2  1761       15  3.45  Clark    4.5          1     0      1      0
3  1762       18  3.40  Clark    4.5          1     0      1      0
4  1763       19  3.38  Smith    2.5          0     0      0      1