In [16]:
# processing us_project_data.csv to make it ready
# for analysis by addressing data quality issues

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("~/Desktop/us_project_data.csv")

In [19]:
df.describe()

,Business Case ID,Agency Code,Project ID,Lifecycle Cost,Schedule Variance (in days),Schedule Variance (%),Cost Variance ($ M),Cost Variance (%),Planned Cost ($ M),Projected/Actual Cost ($ M)
count,2468.000000,2468.000000,2468.000000,2477.000000,2477.000000,2477.000000,2477.000000,2477.000000,2477.000000,2477.000000
mean,532.155592,34.028363,1535.831848,510.935559,-32.915147,-40.990982,-0.648965,-42.783141,40.615117,21.147575
std,323.094035,81.364299,943.852685,7133.750515,103.354269,1109.007321,60.310933,1051.079425,461.091607,206.382783
min,3.000000,5.000000,2.000000,0.000000,-1259.000000,-54600.000000,-2350.070000,-33767.380000,0.000001,0.000000
25%,254.000000,7.000000,726.750000,0.775500,-12.000000,-4.250000,0.000000,0.000000,0.508000,0.500000
50%,492.000000,16.000000,1416.500000,3.200000,0.000000,0.000000,0.000000,0.000000,2.000000,1.913888
75%,832.000000,24.000000,2313.250000,14.565000,0.000000,0.000000,0.015206,1.050000,6.836000,6.560988
max,1137.000000,429.000000,3275.000000,247839.285800,1164.000000,3500.000000,1027.653000,100.000000,14154.898140,6118.999860

In [20]:
# the first thing we can do is remove the rows when
# the first column is total
df = df[df["Unique Investment Identifier"] != "Total"]

In [61]:
# next, let's take a look at formatting dates to
# a standard format
for index, row in df.iterrows():
    date_string = row["Start Date"]
    date_set=["","",""]
    element = 0
    if (type(date_string)==str):
        for each in row["Start Date"]:
            if (each !='/'):
                date_set[element]=date_set[element]+each
            else:
                element = element +1
    if (date_set[0] != ""):
        datetime.date(int(date_set[2]),int(date_set[1]),int(date_set[0]))

NameError: name 'datetime' is not defined

In [15]:
df = df[df["Unique Investment Identifier"] == "Total"]